.ps-sidebar-container.css-dip3t8 {
    background-color: #3c4b64;
    color: #fff;
}

.ps-menu-root .ps-menuitem-root>.ps-menu-button:hover {
    background-color: #2f3a4d;
}

.ps-submenu-root .ps-submenu-content {
    background-color: #3c4b64;
}